body {
    background-color: #e8e8e8;
    text-align: center;
}

form {
    align-self: center ;
}

table, td, tr {
    margin: 0 auto;
    text-align: left;
}

#top {
    background-color: #888888;
}

#logoffBnt {
    width: 80%;
    margin-top: 30px;
}

#logoffDiv {
    text-align:center;
}


#newCouponView {
    text-align:left;
}


.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}