body {
    background-color: #e8e8e8;
    text-align: center;
}

form {
    align-self: center ;
}

table, td, tr {
    margin: 0 auto;
    text-align: left;
}

#top {
    background-color: #888888;
}

#logoffBnt {
    width: 80%;
    margin-top: 30px;
}

#logoffDiv {
    text-align:center;
}


#newCouponView {
    text-align:left;
}

/*#sideBar {*/
    /*background-color: darkslateblue;*/
/*}*/