<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>com.coupon.services</display-name>

	<!-- Register Servlet -->
	<servlet>
		<servlet-name>Coupon Web Service</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<!-- Register resources and providers (class) to servlet -->
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>com.coupon.services</param-value>
		</init-param>

		<init-param>
			<param-name>jersey.config.server.provider.classnames</param-name>
			<param-value>
				com.coupon.exceptions.mappers.IllegalPasswordExceptionRrsponse;
				com.coupon.exceptions.mappers.EmailAlreadyExistsExceptionResponse;
				com.coupon.exceptions.mappers.CompanyAlreadyExistsExceptionResponse;
				com.coupon.exceptions.mappers.AdminFacadeExceptionResponse;
				com.coupon.exceptions.mappers.CouponDoesNotExistExceptionResponse; 
				com.coupon.exceptions.mappers.CompanyDoesNotExistExceptionResponse; 
				com.coupon.exceptions.mappers.CompanyCouponDoesNotExistsExceptionResponse;
				com.coupon.exceptions.mappers.NumberFormatExceptionResponse;
				com.coupon.exceptions.mappers.CustomerAlreadyExistsExceptionResponse;
				com.coupon.exceptions.mappers.CustomerDoesNotExistExceptionResponse;
				com.coupon.exceptions.mappers.CustomerFacadeExceptionResponse;
				com.coupon.exceptions.mappers.CouponAlreadyPurchasedExceptionResponse;
				com.coupon.exceptions.mappers.OutOfStockExceptionResponse;
				com.coupon.exceptions.mappers.OutOfDateExceptionResponse;
				com.coupon.exceptions.mappers.CouponTitleAlreadyExistExceptionResponse;
			</param-value>
		</init-param>

		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- URI mapping -->
	<servlet-mapping>
		<servlet-name>Coupon Web Service</servlet-name>
		<url-pattern>/coupon/*</url-pattern>
	</servlet-mapping>





</web-app>