<div class="container-fluid">
    <div class="row">
        <div class="col-12"><h1> Coupon Web </h1></div>
    </div>

    <div class="row">
        <div class="col-12"><h6> {{clientType}} view </h6></div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <div class="btn-group">
                <button  class="btn btn-primary list-group-item" ng-click="getAllCompanies()">
                    <span class="glyphicon glyphicon-tower" aria-hidden="true"></span> Companies
                </button>
                <button type="button" class="btn btn-primary list-group-item" ng-click="getAllCustomers()">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Customers
                </button>
            </div>
        </div>

        <div class="col-md-10">
            <div ng-include="'views/xteable.view.html'"></div>
        </div>
    </div>
</div>