<div>
    <table class="table table-responsive table-hover table-condensed">
        <thead>
        <tr style="font-weight: bold">
            <th style="width:30%"> Title</th>
            <th style="width:30%"> Start Date</th>
            <th style="width:30%"> End Date</th>
            <th style="width:30%"> Amount</th>
            <th style="width:30%"> Type</th>
            <th style="width:30%"> Message</th>
            <th style="width:30%"> Price</th>
            <th style="width:30%"> Image</th>
        </tr>
        </thead>
        <!--each table row represent a coupon-->
        <tr ng-repeat="coupon in coupons | filter:searchText"
            ng-click="getAllCoupons(company.id, $index)"> 
            <td>
                <!--coupon title-->
                <span editable-text="coupon.coupTitle"
                      e-name="coupTitle"
                      e-form="couponform"
                      e-placeholder="coupon title"
                      onbeforesave="onbeforesaveCouponTitle($data)">
                            {{coupom.coupTitle}}
                        </span>
            </td>
            <td>
                <!--start tate-->
                <span editable-text="coupon.coupStartDate"
                      e-name="coupStartDate"
                      e-form="couponform"
                      e-placeholder="coupon start date"
                      onbeforesave="onbeforesaveCouponStartDate($data)">
                            {{coupom.coupStartDate}}
                        </span>
            </td>
            <td>
                <!--end date-->
                <span editable-text="coupon.coupEndDate"
                      e-name="coupEndDate"
                      e-form="couponform"
                      e-placeholder="coupon end date"
                      onbeforesave="onbeforesaveCouponEndDate($data)">
                            {{coupom.coupEndDate}}
                        </span>
            </td>
            <td>
                <!--amount-->
                <span editable-text="coupon.coupAmount"
                      e-name="coupAmount"
                      e-form="couponform"
                      e-placeholder="coupon amount"
                      onbeforesave="onbeforesaveCouponAmount($data)">
                            {{coupom.coupAmount}}
                        </span>
            </td>
            <td>
                <!--type-->
                <span editable-text="coupon.coupType"
                      e-name="coupType"
                      e-form="couponform"
                      e-placeholder="coupon type"
                      onbeforesave="onbeforesaveCoupontype($data)">
                            {{coupom.coupType}}
                        </span>
            </td>
            <td>
                <!--message-->
                <span editable-text="coupon.coupMessage"
                      e-name="coupMessage"
                      e-form="couponform"
                      e-placeholder="coupon message"
                      onbeforesave="onbeforesaveCouponMessage($data)">
                            {{coupom.coupMessage}}
                        </span>
            </td>
            <td>
                <!--price-->
                <span editable-text="coupon.coupPrice"
                      e-name="coupPrice"
                      e-form="couponform"
                      e-placeholder="coupon price"
                      onbeforesave="onbeforesaveCouponPrice($data)">
                            {{coupom.coupPrice}}
                        </span>
            </td>
            <td>
                <!--image-->
                <span editable-text="coupon.coupImage"
                      e-name="coupImage"
                      e-form="couponform"
                      e-placeholder="coupon image"
                      onbeforesave="onbeforesaveCouponImage($data)">
                            {{coupom.coupImage}}
                        </span>
            </td>
            
            
            <td style="white-space: nowrap">
                <!-- form - edit buttons  -->
                <form editable-form name="couponform"
                      onbeforesave="addUpdateCoupon($data, $index)"
                      ng-show="couponform.$visible"
                      class="form-buttons form-inline"> <!--shown="inserted == user">-->
                    <button type="submit" ng-disabled="coupnform.$waiting" class="btn btn-primary">
                        save
                    </button>
                    <button type="button" ng-disabled="couponform.$waiting"
                            ng-click="couponform.$cancel()" class="btn btn-default">
                        cancel
                    </button>
                </form>
                <div class="buttons" ng-show="!couponform.$visible">
                    <button class="btn btn-primary" ng-click="couponform.$show()">edit</button>
                    <button class="btn btn-danger" ng-click="removeCoupon($index)">del</button>
                </div>
            </td>
        </tr>
    </table>
    </br>
    <button class="btn btn-default" ng-click="addRowForCoupon()">Add row</button>
</div>