<div>
    <table class="table table-responsive table-hover table-condensed">
        <thead>
        <tr style="font-weight: bold">
            <th style="width:15%"> Title</th>
            <th style="width:10%"> Start Date</th>
            <th style="width:10%"> End Date</th>
            <th style="width:5%"> Amount</th>
            <th style="width:10%"> Type</th>
            <th style="width:30%"> Message</th>
            <th style="width:10%"> Price</th>
            <th style="width:10%"> Image</th>
        </tr>
        </thead>
        <!--each table row represent a coupon-->
        <tr ng-repeat="coupon in coupons | filter:searchText">
            <!--coupon title-->
            <td>{{coupon.title}}</td>
            <!--start date-->
            <td>{{coupon.startDate}}</td>
            <!--end date-->
            <td>
                <span editable-text="coupon.endDate"
                      e-name="coupEndDate"
                      e-form="couponform"
                      e-placeholder="coupon end date"
                      onbeforesave="onbeforesaveCouponEndDate($data)">
                            {{coupon.endDate}}
                </span>
            </td>
            <!--amount-->
            <td>{{coupon.amount}}</td>
            <!--type-->
            <td>{{coupon.type}}</td>
            <!--message-->
            <td>{{coupon.message}}</td>
            <!--price-->
            <td>
                <span editable-text="coupon.price"
                      e-name="coupPrice"
                      e-form="couponform"
                      e-placeholder="coupon price">
                            {{coupon.price}}
                </span>
            </td>
            <!--image-->
            <td><img ng-src="{{coupon.image}}" class="img-responsive"></td>

            <!-- form - edit buttons  -->
            <td style="white-space: nowrap">
                <form editable-form name="couponform"
                      onbeforesave="addUpdateCoupon($data, $index)"
                      ng-show="couponform.$visible"
                      class="form-buttons form-inline"> <!--shown="inserted == user">-->
                    <button type="submit" ng-disabled="couponform.$waiting" class="btn btn-primary">
                        save
                    </button>
                    <button type="button" ng-disabled="couponform.$waiting"
                            ng-click="couponform.$cancel()" class="btn btn-default">
                        cancel
                    </button>
                </form>
                <div class="buttons" ng-show="!couponform.$visible">
                    <button class="btn btn-primary" ng-click="couponform.$show()">edit</button>
                    <button class="btn btn-danger" ng-click="removeCoupon($index)">del</button>
                </div>
            </td>
        </tr>
    </table>
    </br>
</div>